
#userpage--div {
    margin-bottom: 40px
}

#picture--title > img {
    width: 30px;
    display: inline-block
}

#picture--title > h4 {
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 5px;
}

#user--page--episodes > div{
    border-bottom: 1px solid black;
    margin: 0 30px 0 30px;
}