
.podcastPage--info > img {
    height: 200px;
    padding-left: 15px;
    padding-right: 10px;
    display: block;
    float: left;
}

.podcastPage--info {
    height:220px
}

.podcastPage--info{
    width: 93%;
    margin: auto
}

.podcastPage--div {
    margin-bottom: 40px
}