
.mediaPlayer--div {
    position:fixed;
    bottom:0;
    z-index: 100;
    background-color: white;
    border-radius: 0 4px 0 0;
}

#queue--div {
    position:fixed;
    bottom:34px;
    left: 350px;
    z-index: 100;
    background-color: white;
    border-radius: 0 4px 0 0;
}


#queue--list--container {
    bottom: 34px
}

.episode--information {
    width: 350px;
    border: 1px solid black;
    border-radius: 0 4px 0 0;
}

.episode--information > img {
    width: 100%;
    border-radius: 0 4px 0 0;
}

.mediaBar {
    display: inline-block;
    width: 350px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.mediaBar > h4 {
    font-size: 1.3em;
    height: 100%;
    border-left: 1px solid black;
    margin: 0;
    padding: 5px 15px 0 20px;
    border-radius: 0 4px 0 0;
}

.mediaBar > h4:hover,
#close--button:hover {
    cursor: pointer;
}

#queue--button {
    position: fixed;
    bottom: 0;
    left: 350px;
    padding: 5px 10px 5px 15px;
    width: 40px;
    height: 34px;
    margin: 0;
    vertical-align: middle;
    background-color: white;
    border: 1px black solid;
    border-left: white;
    border-radius: 0 4px 0 0;
}

#queue--button:active{
    text-decoration: none;
}

#close--button {
    position: fixed;
    bottom: 0;
    left: 390px;
    padding: 5px 10px 5px 15px;
    width: 40px;
    height: 34px;
    margin: 0;
    vertical-align: middle;
    background-color: white;
    border: 1px black solid;
    border-left: white;
    border-radius: 0 4px 0 0;
}
