.queue--item > img {
    display: inline-block;
    width: 25px;
}

.queue--item > h6 {
    display: inline-block;
    font-size: 1.1em;
}

.queue--item > p{
    display: inline-block;
    font-size: .9em;
}

.queue--hidden{
    display: none;
}