.queue--item > img {
    display: inline-block;
    width: 25px;
}

.queue--item > h6 {
    display: inline-block;
    font-size: 1.1em;
}

.queue--item > p{
    display: inline-block;
    font-size: .9em;
}

.queue--hidden{
    display: none;
}

#queue--episode--buttons {
    margin-left: 10px
}

#queue--episode--buttons > button{
    border-radius: 6px
}

#move--up{
    height: 11px;
    font-size: .6em;
    border-radius: 10px;
    margin-bottom: 1px
}

#move--down{
    transform: rotate(180deg);
    height: 11px;
    font-size: .6em;
    border-radius: 10px;
    margin-top: 1px;
}
