.modal-body >
.form-control {
    margin: 0;
    margin-bottom: 7px;
    width: 100%
}

.modal-content{
    width: 30vw;
    min-width: 300px;
    max-width: 800px;
    margin: auto
}

form {
    margin: 30px
}

#button--login{
    margin-right: 0px;
}