Nav{
    font-size: 1.2em
}

#home,
li,
.collapsed {
    display: inline-block
}

#home,
#userPage {
    margin-left: 15%
}

LoginAndRegistration {
    z-index: 10
}

.navbar-header {
    display: inline-block
}

@media (min-width: 768px) {
    .collapsed {
        display: none;
    }

    #home,
    #userPage {
        margin: auto
}
}